body {
  background-color: hsl(150, 10%, 50%);
  font-size: 150%;
  text-align: center;
}
table {
  width: 99vw;
  height: 99vh;
  border: solid black 1px;
}
th {
  border: 1px solid gainsboro;
  border-radius: 10%;
  background-color: rgb(46, 109, 103);
  color: ghostwhite;
  border-color: black;
}
td {
  border: 1px solid gainsboro;
  border-radius: 10%;
  background-color: rgb(134, 134, 134);
  color: ghostwhite;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.darkblue {
  background-color: darkblue;
}
.lightblue {
  background-color: lightblue;
}
